In [1]:
import nltk

In [2]:
#nltk.download_shell()

In [3]:
messages = [line.rstrip() for line in open('SMSSpamCollection')]
#printing total number of messages
print(len(messages))

5574

In [4]:
#print first 50 messages
for mess_no, message in enumerate(messages[:50]):
    print(mess_no, message)
    print('\n')

0 ham	Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...


1 ham	Ok lar... Joking wif u oni...


2 spam	Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's


3 ham	U dun say so early hor... U c already then say...


4 ham	Nah I don't think he goes to usf, he lives around here though


5 spam	FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, Â£1.50 to rcv


6 ham	Even my brother is not like to speak with me. They treat me like aids patent.


7 ham	As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune


8 spam	WINNER!! As a valued network customer you have been selected to receivea Â£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.


9 spam	Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030


10 ham	I'm gonna be home soon and i don't want to talk about this stuff anymore tonight, k? I've cried enough today.


11 spam	SIX chances to win CASH! From 100 to 20,000 pounds txt> CSH11 and send to 87575. Cost 150p/day, 6days, 16+ TsandCs apply Reply HL 4 info


12 spam	URGENT! You have won a 1 week FREE membership in our Â£100,000 Prize Jackpot! Txt the word: CLAIM to No: 81010 T&C www.dbuk.net LCCLTD POBOX 4403LDNW1A7RW18


13 ham	I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.


14 ham	I HAVE A DATE ON SUNDAY WITH WILL!!


15 spam	XXXMobileMovieClub: To use your credit, click the WAP link in the next txt message or click here>> http://wap. xxxmobilemovieclub.com?n=QJKGIGHJJGCBL


16 ham	Oh k...i'm watching here:)


17 ham	Eh u remember how 2 spell his name... Yes i did. He v naughty make until i v wet.


18 ham	Fine if thatÂ’s the way u feel. ThatÂ’s the way its gota b


19 spam	England v Macedonia - dont miss the goals/team news. Txt ur national team to 87077 eg ENGLAND to 87077 Try:WALES, SCOTLAND 4txt/Ãº1.20 POBOXox36504W45WQ 16+


20 ham	Is that seriously how you spell his name?


21 ham	Iâ€˜m going to try for 2 months ha ha only joking


22 ham	So Ã¼ pay first lar... Then when is da stock comin...


23 ham	Aft i finish my lunch then i go str down lor. Ard 3 smth lor. U finish ur lunch already?


24 ham	Ffffffffff. Alright no way I can meet up with you sooner?


25 ham	Just forced myself to eat a slice. I'm really not hungry tho. This sucks. Mark is getting worried. He knows I'm sick when I turn down pizza. Lol


26 ham	Lol your always so convincing.


27 ham	Did you catch the bus ? Are you frying an egg ? Did you make a tea? Are you eating your mom's left over dinner ? Do you feel my Love ?


28 ham	I'm back &amp; we're packing the car now, I'll let you know if there's room


29 ham	Ahhh. Work. I vaguely remember that! What does it feel like? Lol


30 ham	Wait that's still not all that clear, were you not sure about me being sarcastic or that that's why x doesn't want to live with us


31 ham	Yeah he got in at 2 and was v apologetic. n had fallen out and she was actin like spoilt child and he got caught up in that. Till 2! But we won't go there! Not doing too badly cheers. You?


32 ham	K tell me anything about you.


33 ham	For fear of fainting with the of all that housework you just did? Quick have a cuppa


34 spam	Thanks for your subscription to Ringtone UK your mobile will be charged Â£5/month Please confirm by replying YES or NO. If you reply NO you will not be charged


35 ham	Yup... Ok i go home look at the timings then i msg Ã¼ again... Xuhui going to learn on 2nd may too but her lesson is at 8am


36 ham	Oops, I'll let you know when my roommate's done


37 ham	I see the letter B on my car


38 ham	Anything lor... U decide...


39 ham	Hello! How's you and how did saturday go? I was just texting to see if you'd decided to do anything tomo. Not that i'm trying to invite myself or anything!


40 ham	Pls go ahead with watts. I just wanted to be sure. Do have a great weekend. Abiola


41 ham	Did I forget to tell you ? I want you , I need you, I crave you ... But most of all ... I love you my sweet Arabian steed ... Mmmmmm ... Yummy


42 spam	07732584351 - Rodger Burns - MSG = We tried to call you re your reply to our sms for a free nokia mobile + free camcorder. Please call now 08000930705 for delivery tomorrow


43 ham	WHO ARE YOU SEEING?


44 ham	Great! I hope you like your man well endowed. I am  &lt;#&gt;  inches...


45 ham	No calls..messages..missed calls


46 ham	Didn't you get hep b immunisation in nigeria.


47 ham	Fair enough, anything going on?


48 ham	Yeah hopefully, if tyler can't do it I could maybe ask around a bit


49 ham	U don't know how stubborn I am. I didn't even want to go to the hospital. I kept telling Mark I'm not a weak sucker. Hospitals are for weak suckers.

In [5]:
import pandas as pd

In [6]:
# used to_csv function to read a tsv file and convert it to a datadrame
messages_df = pd.read_csv('SMSSpamCollection', sep='\t', names=['category', 'message'])
messages_df

     category                                            message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [7]:
messages_df.groupby('category').describe()

         message                                                            \
           count unique                                                top
category
ham         4825   4516                             Sorry, I'll call later
spam         747    653  Please call our customer service representativ...


         freq
category
ham        30
spam        4

In [8]:
messages_df['length'] = messages_df['message'].apply(len)

In [9]:
messages_df

     category                                            message  length
0         ham  Go until jurong point, crazy.. Available only ...     111
1         ham                      Ok lar... Joking wif u oni...      29
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3         ham  U dun say so early hor... U c already then say...      49
4         ham  Nah I don't think he goes to usf, he lives aro...      61
...       ...                                                ...     ...
5567     spam  This is the 2nd time we have tried 2 contact u...     160
5568      ham               Will ü b going to esplanade fr home?      36
5569      ham  Pity, * was in mood for that. So...any other s...      57
5570      ham  The guy did some bitching but I acted like i'd...     125
5571      ham                         Rofl. Its true to its name      26

[5572 rows x 3 columns]

In [10]:
messages_df.describe()

            length
count  5572.000000
mean     80.489950
std      59.942907
min       2.000000
25%      36.000000
50%      62.000000
75%     122.000000
max     910.000000

In [11]:
num = []
cat = ['category']
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for i in cat:
    messages_df[i] =le.fit_transform(messages_df[i])

In [12]:
import string
from nltk.corpus import stopwords

In [13]:
def text_process(mess):
    """
    Tokenization:
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [14]:
messages_df['message'].head(5).apply(text_process)

0    [Go, jurong, point, crazy, Available, bugis, n...
1                       [Ok, lar, Joking, wif, u, oni]
2    [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3        [U, dun, say, early, hor, U, c, already, say]
4    [Nah, dont, think, goes, usf, lives, around, t...
Name: message, dtype: object

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
bow_transformer = CountVectorizer(analyzer=text_process).fit(messages_df['message'])
messages_df_bow = bow_transformer.transform(messages_df['message'])
print(len(bow_transformer.vocabulary_))

11425

In [16]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer().fit(messages_df_bow)
messages_df_tfidf = tfidf_transformer.transform(messages_df_bow)

In [17]:
from sklearn.naive_bayes import MultinomialNB
spam_detection = MultinomialNB().fit(messages_df_tfidf, messages_df['category'])

In [18]:
from sklearn.model_selection import train_test_split
x = messages_df['message']
y = messages_df['category']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [19]:
# naive bayes
from sklearn.naive_bayes import MultinomialNB
spam_detection = MultinomialNB().fit(messages_df_tfidf, messages_df['category'])

from sklearn.pipeline import Pipeline
pipeline = Pipeline([
    ('bow', CountVectorizer(analyzer=text_process)),  # strings to token integer counts
    ('tfidf', TfidfTransformer()),  # integer counts to weighted TF-IDF scores
    ('classifier', MultinomialNB()),  # train on TF-IDF vectors w/ Naive Bayes classifier
])

In [20]:
#KNN Classifier
#from sklearn.neighbors import KNeighborsClassifier
#classifier = KNeighborsClassifier(n_neighbors=61, p=2,metric='euclidean')
#from sklearn.pipeline import Pipeline

#pipeline = Pipeline([
#    ('bow', CountVectorizer(analyzer=text_process)),  # strings to token integer counts
#    ('tfidf', TfidfTransformer()),  # integer counts to weighted TF-IDF scores
#    ('classifier', KNeighborsClassifier()),  # train on TF-IDF vectors w/ Naive Bayes classifier
#])

In [21]:
pipeline.fit(x_train, y_train)

Pipeline(steps=[('bow',
                 CountVectorizer(analyzer=<function text_process at 0x0000022BA9C9A310>)),
                ('tfidf', TfidfTransformer()),
                ('classifier', MultinomialNB())])

In [22]:
pred = pipeline.predict(x_test)
pred

array([0, 0, 0, ..., 0, 0, 0])

In [23]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score

In [24]:
cm = confusion_matrix(y_test, pred)
print (cm)
print(accuracy_score(y_test, pred))
print(precision_score(y_test, pred))
print(f1_score(y_test, pred))

[[1455    0]
 [  59  158]]
0.9647129186602871
1.0
0.8426666666666667

In [25]:
from sklearn.metrics import classification_report
print(classification_report(pred,y_test))

              precision    recall  f1-score   support

           0       1.00      0.96      0.98      1514
           1       0.73      1.00      0.84       158

    accuracy                           0.96      1672
   macro avg       0.86      0.98      0.91      1672
weighted avg       0.97      0.96      0.97      1672